[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
python-tkdnd = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9.13"
